// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";


// Your style
@import "variables";
@import "breakpoints";
@import "mixins";
@import "general";
@import "layout";
@import "module";
@import "aos";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

h1{
    font-weight: 300;
    line-height: 110%;
    letter-spacing: 0.13em;
    @include break-point-down (phablet){
        font-weight: normal;
        font-size: 31px;
    }
    @include break-point-down (mobile){
        font-size: 26px;
    }
}
h2{
    font-weight: normal;
    line-height: 110%;
    @include break-point-down (phablet){
        font-weight: 500;
        font-size: 26px;
    }
    @include break-point-down (mobile){
        font-size: 23px;
    }

}
h3{
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0.13em;
}
h4{
    font-weight: normal;
    line-height: 110%;
    letter-spacing: 0.13em;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}
small{
    font-family: 'Dosis', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size: 11px;
    line-height: 110%;
    letter-spacing: 0.13em;
}

.experiencia360{
    width: 100%;
    height: 100vh;
    background-color: #333333;
    @include break-point-down (tablet){
        /* height: auto; */
        height: 100vh;
    }
    #vrview{
    }
}
.montelier-menu{
    -webkit-transition: all  ease-in-out .2s;
    -moz-transition: all  ease-in-out .2s;
    -o-transition: all  ease-in-out .2s;
    transition: all  ease-in-out .2s;

    z-index: 5;
}
body{
    background: #E8DECD;
}
.btn-top-menu{
    position: fixed;
    top: 32px;
    right: 32px;
    border-radius: 100px !important;
    padding: 16px 11px !important;
    z-index: 10; 

    @include break-point-down(laptop) {
        top: 16px;
        right: 16px;
    }

} 
.img-name{
    max-width: 100%;
    @include break-point-down(mobile) {
        max-width: 350px;
        width: 100%;
    }

}
.montelier-menu .nav-link{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 110%;
    letter-spacing: 0.13em;
    white-space: nowrap;

    padding-right: 16px !important;
    padding-left: 16px !important;

}
.montelier-menu ul{
    flex-wrap: wrap;
    max-width: 1000px;
    @include break-point-down(phablet){
        margin-bottom: 50vh;
    }
}
.sidemenu_360{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    ul{
        .sidebar-title{
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 110%;
            letter-spacing: 0.13em;

            transform: rotate(-90deg);
            top: 0;
            position: absolute;
            padding-top: 30px;

            @include break-point-down(phablet) {
                transform: initial;
                position: initial;
                padding-left: 32px;
                padding-top: 0;
            }
        }
        li{
            list-style-type: none;
            .sidebar-link{
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 110%;
                letter-spacing: 0.13em;
                text-decoration: none;
                color: #E8DECD;
                margin-left: 60px;
                padding-left: 0px;
                //padding-right: 100px;
                padding-bottom: 5px !important;

                @include break-point-down(phablet){
                    //padding-right: 50px;
                    margin-left: 32px;
                    padding-left: 0px;
                }
            }
            .sidebar-link:hover{
                border-bottom: solid 1px #E8DECD;
            }
            .active{
                border-bottom: solid 1px #E8DECD;
            }
        }
    }
}
.bg-fade{
    position: absolute;
    width: 316px;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 1;

    background: linear-gradient(90deg, rgba(17, 17, 17, 0.9) 0%, rgba(17, 17, 17, 0) 100%);
    @include break-point-down(phablet){
        width: 100vw;
        height: 35vh;
        background: linear-gradient(180deg, rgba(17, 17, 17, 0.9) 0%, rgba(17, 17, 17, 0) 100%);

    }

}
.banner-holder{
    height: 678px;
    .text-banner{
        //margin-left: 240px;
        margin-top: 100px;
        margin-bottom: 233px;
        padding-right: 597px;
        padding-left: 20px;
        p{
            max-width: 338px;
        }
        @include break-point-down(phablet){
            margin-top: 80px;
            margin-bottom: 99px;
        }
        @include break-point-down(laptop){
            padding-left: 16px;
            padding-right: 37vw;
        }
        @include break-point-down(tablet){
            padding-right: 16px;
        }
    }
    @include break-point-down(phablet){
        height: auto;
    }
}
.bg-right{
    background-color: rgb(231, 210, 172);
    position: absolute;
    top: 0;
    right: 0 ;
    width: 577px;
    height: 100%;

    /* background-image: url('/assets_front/img/bg-wood.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    @include break-point-down(laptop){
        width: 35vw;
    }


}
.bg-right-leaf{
    background-color: rgb(231, 210, 172);
    position: absolute;
    top: 0;
    right: 0 ;
    width: 577px;
    height: 100%;

    background-image: url('/assets_front/img/bg-leaf.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.img-lib{
    overflow-x: auto;
    a{
        text-decoration: none;
    }
    .lib-img-icon{
        width: 349px;
        height: 222px;
        object-fit: cover;
        @include break-point-down(phablet){
            width: 100vw;
            height: 312px;
        }
    
    }
}
#map-sec{
    background-color: #6B8857;
}
#map{
    width: 100%;
    height: 94%;
    position: absolute; 
}
#mapFixed{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    /* height: 94%; */
    top: 0;
    bottom: 0;
    position: absolute; 
}
#mapFixedMob{
    position: absolute;
    bottom: 0;
}
.map-info-holder{
    position: relative;
    z-index: 2;
    max-width: 458px;
    padding-top: 100px;
    padding-bottom: 153px;
    .info-item{
        background: #566F45;
        padding: 16px 20px;
        margin-bottom: 1px;
    }
    @include break-point-down(phablet){
        padding-top: 80px;
        padding-bottom: 110vw;
    }
}
.pratic-holder{
    background: #566F45;
    padding: 40px 60px 50px 60px;
    .pratic-steps{
        .pratic-step{
            h1{
                color: #6B8857;
                margin-top: 33px;
            }
            h3{
            }
        }
    } 
    @include break-point-down(phablet){
        padding: 32px;
    }
}
.btn{
    padding: 16px 24px;
    border-radius: 0;
    font-size: 17px;
    line-height: 110%;
    span{
        position: relative;
        top: -3px;
    }
    i{
        font-size: 22px;
    }
}
.montelier-form{
    .form-group{
        margin-bottom: 0;
    }
    input{
        background-color: transparent;
        color: #E8DECD;
        border-radius: 0;
        border: 1px solid #E8DECD;
        padding: 25px 24px;

        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 110%;

    }
    input:focus{
        background: rgba(232, 222, 205, 0.1);
        color: #E8DECD;
        box-shadow: none !important;
        border: #E8DECD !important;
    }
    input:focus~{
        box-shadow: none !important;
    }
    input::placeholder{
        color: #E8DECD;
        opacity: 0.5;
    }
    .custom-control-label:before{
        border-radius: 0;
        border: 1px solid #E8DECD;
        padding: 8px;
        color: #333333;
        background-color:transparent;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
        color: #333333;
        background-color:#E8DECD;
        box-shadow: none !important;
        border: 1px solid #E8DECD !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
        background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23333333' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    }
    
}
.link-mont{
    text-decoration: none;
}
.link-mont:hover{
    opacity: 0.7;
}
.img-lib-hover{
    background-color: #333333;
    position: relative;
    .icon-zoom{
        opacity: 0;
        font-size: 51px;
    }
}
.img-lib-hover:hover{
    img{
        opacity: .1;
    }
    .icon-zoom{
        opacity: 1;
    }

}
.modal-dialog-full {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
}
.img-lib-modal{
    /* height: 80vh; */
    height: auto;
    max-height: 80vh;
    //height: auto;
    object-fit: contain;
}
.lib-desc-offset{
    bottom: -60px;
}
.btn-slide{
    border-radius: 100px;
    padding: 30px;
    font-size: 17px;
    @include break-point-down(phablet){
        padding: 24px;
    }
}
.img-carousel-lib{
    @include break-point-down(tablet){
        padding-right: 35px !important;
        padding-left: 35px !important;
    }
}
.btn-slider-left{
    left: -46px;
    ion-icon{
        left: 15px;
        font-size: 28px;
        position: relative;
    }
}
.btn-slider-right{
    right: -46px;
    ion-icon{
        right: 15px;
        font-size: 28px;
        position: relative;
    }
}
.btn-round{
    border-radius: 100px;
}


.footer-qualitare{
    -webkit-transition: all  ease-in-out .2s;
    -moz-transition: all  ease-in-out .2s;
    -o-transition: all  ease-in-out .2s;
    transition: all  ease-in-out .2s;

    overflow: hidden;
    width: 100px;
}
.footer-qualitare:hover{
    width: 160px;
}
.descubra-mais-holder{
    position: absolute;
    width: 100%;
    bottom: 5px;
    z-index: 0;
    img{
        top: -10px;
        position: absolute;
        z-index: -1;
    }
    small{
        /* padding: 18px 7px; */
        margin-left: 18px;
    }

}
.navbar-nav{
    padding-right: 170;
    @include break-point-down(phablet){
        padding-right: 0;

    }
}
.btn-filter-group{
    flex-wrap: wrap;
}
.iframe-hide{
    /* width: 150vw !important;
    left: -25vw !important; */
    width: 100vw !important;
    height: 111vh !important;
    
    position: relative !important;
    @include break-point-down(phablet){
        /* width: 170vw !important;
        left: -35vw !important; */

        width: 105vw !important;

    
    }
}
.modal-backdrop.show {
    opacity: 0.9;
}

.snap-scroll {
    scroll-snap-type: x mandatory;
}

.snap {
    scroll-snap-align: start;
}
